
html {
  background-color: #0D2831;
  color: #E8E8E8;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  --primary-color: #FF9A3D;
  --dark-neutral: #AEAEAE;
  --lightest: #E8E8E8;
  cursor: default;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-size: 6vw;
  margin: 1rem 0;
}

h2 {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0rem;
  text-align: left;
  padding: 1rem;
  width: 60%;
}

ul {
  list-style: none;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  position: sticky;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(13, 40, 49, 1) 0%, rgba(13, 40, 49, 0.73) 64%, rgba(13 ,40 ,49,0.25) 100%);
  border-radius: 1rem;
  width: 100%;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding: 0 1rem;
}

.nav-li {
  margin-right: 1rem;
  font-size: 1rem;
}

.nav-li > button {
  font-size: 1rem;
  color: #E8E8E8;
  background: none;
  border: 0;
  cursor: pointer;
}

#about-text, #exp, #contact {
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

#about {
  flex-direction: column-reverse;
  align-items: center;
}

#about-text > p {
  line-height: 1.4;
}
.photo-container {
  position: relative;
  margin: 0.5rem;
}

#profile-picture {
  max-width: 200px;
  margin: 1rem;
}
#photo-border {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 1.5rem;
  left: 2rem;
  border: 1px solid var(--primary-color);
  z-index: -1;
}


.about-ul {
  list-style: none;
}

.about-li:hover::before, .exp-li:hover::before {
    border-color: transparent var(--primary-color);
}

.about-li::before, .exp-li::before {
  content: "";
  border-color: transparent #C4C4C4;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.exp-li a {
  color:#E8E8E8;
  text-decoration: none;
}

.exp-li a:hover {
  border-bottom: 1px solid #AEAEAE;
}

.exp-container > ul {
  margin-right: 2rem;
}

.project-img > img {
  width: 200px;
}

.project-card-text {
  display: flex;
  flex-direction: column;
}

.project-card-text ul {
  list-style: square;
}

.project-card-text p, h3 {
  margin: 0;
}
.project-img > img {
  width: 70%;
}

#contact p a {
  display: inline;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #E8E8E8;
}

#contact p a:hover {
  background: rgba(255, 154, 61, 0.53);
  color:rgba(13, 40, 49, 0.73);
  transition: all 0.5s ease;
}

.primary-button {
  transition: all 0.5s ease;
  background: none;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  color: #E8E8E8;
  text-decoration: none;
  border-radius: 0.6rem;
}

.primary-button:hover {
  background: var(--dark-neutral);
  color: #111;
  border: 1px solid var(--dark-neutral);
}


#intro {
  text-align: left;
  margin-left: 1rem;
}

#intro p:first-child {
  color: var(--primary-color);
  font-family: 'Source Code Pro', monospace;
}


#link-twig {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
}

#twig {
  display: none;
}

.fab {
  font-size: 1.5rem;
  color: var(--dark-neutral);
}

#link-twig > a {
  text-decoration: none;
  color: black;
}

.collapse-button {
  display: block;
  text-align: left;
  background: none;
  border: none;
  color: var(--lightest);
  font-size: 1rem;
}

.collapse-button:hover {
  transition: all 0.5s ease;
  background: var(--dark-neutral);
  color: #111;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}

/* --------------------Non-mobile------------------------------*/

@media screen and (min-width: 601px) {
  html {
    font-size: 100%;
  }

  section {
    margin: 10rem 0rem;
  }

  #intro {
    padding-right: 30%;
    margin-left: 5%;
  }

  #about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  #about-text {
    max-width: 60%;
  }

  #about-text p {
    line-height: 150%;
  }

  #photo-border {
  width: 85%;
  left: 2rem;
  }

  #exp {
    display: flex;
    flex-direction: column;
  }

  .exp-container {
    display: flex;
    flex-direction: row;
  }
  .project-card {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
  }

  #link-twig {
  position: fixed;
  left: 1rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: auto;
  justify-content: space-between;
  margin-bottom: 0;
  }

  #twig {
    display: block;
    border-left: 3px solid var(--dark-neutral);
    height: 7rem;
  }
}

/* .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background: #dbdbdb;
  color:rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modal-header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}

.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-body {
  overflow: auto;
}

.modal-content {
  padding: 1rem;
}

.modal-content img {
  width: 100%;

}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
} */